/* PC */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Phone */
@media (max-width: 739px) {
  .s-col-full {
    width: 100%;
  }

  .s-text-center {
    text-align: center;
  }

  #header {
    overflow: hidden;
  }

  #header #search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  .activeMenuBtn {
    height: auto !important;
  }

  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav .subnav {
    position: inherit;
    animation-name: dropSubMenu;
    animation-duration: 0.2s;
    animation-timing-function: linear;
  }

  @keyframes dropSubMenu {
    from {
      height: 0;
    }
    to {
      height: 114px;
    }
  }

  #nav .subnav a {
    padding: 2px 40px;
    background: #000;
  }

  #sliders .text-content {
    display: none;
  }

  #content .member-img {
    width: 60%;
  }

  .issue-summary .summary {
    display: none;
  }

  .modal-container {
    position: absolute;
    top: 50px;
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 300px;
    animation-name: drop;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  
  @keyframes drop {
    from {
      top: -200px;
      opacity: 0;
    }
    to {
      top: 50px;
      opacity: 1;
    }
  }

  .modal-header {
    min-height: 100px;
    line-height: 100px;
}

.pay-btn {
  height: 48px;
}
  .contact-container {
    font-size: 15px;
  }

  .contact-form div div {
    margin-bottom: 8px;
  }

  .contact-form div[class="mt-8"] {
    margin-top: 0;
  }
}
