/* PC */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Phone */
@media (max-width: 739px) {
  .col-third {
    width: 100%;
  }

  .col-half {
    width: 100%;
  }

  #nav > li {
    display: block;
  }

  #nav li:first-child:hover > a {
    background-color: #ccc;
    color: #000;
  }

  #header {
    overflow: hidden;
  }

  .activeMenuBtn {
    height: auto !important;
    overflow: visible !important;
  }

  #header #search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #content .member-img {
    width: 230px;
  }

  .contact-container {
    font-size: 15px;
  }

  .contact-form div div {
    margin-bottom: 8px;
  }

  .contact-form div[class="mt-8"] {
    margin-top: 0;
  }
}
