/* PC */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Phone */
@media (max-width: 739px) {
  .col-third {
    width: 100%;
  }

  .col-half {
    width: 100%;
  }

  #header {
    overflow: hidden;
  }

  #header #search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav .subnav {
    position: inherit;
    animation-name: dropSubMenu;
    animation-duration: 0.3s;
    animation-timing-function: linear;
  }

  @keyframes dropSubMenu {
    from {
      height: 0;
    }
    to {
      height: 114px;
    }
  }

  #nav .subnav a {
    padding: 2px 40px;
    background: rgb(236, 236, 236);
    border-top: 1px solid #ccc;
  }

  .activeMenuBtn {
    height: auto !important;
  }

  #sliders .text-content {
    display: none;
  }

  #content .member-img {
    width: 230px;
  }

  .contact-container {
    font-size: 15px;
  }

  .contact-form div div {
    margin-bottom: 8px;
  }

  .contact-form div[class="mt-8"] {
    margin-top: 0;
  }
}
