/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
 */

/* 
1. Vị trí 
2. kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...
 */
#main {
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  z-index: 1;
}

.clear-fix {
  clear: both;
}

.text-white {
  color: #fff !important;
}

#nav {
  /* vì thẻ ul chiếm trọn header nên ta làm cho ngắn lại */
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav > li:hover .subnav {
  display: block;
}

#nav li:hover > a {
  background-color: #ccc;
  color: #000;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 16px;
  line-height: 38px;
}

#header #search-btn {
  float: right;
}

#header #search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

#header .search-icon {
  color: #fff;
  line-height: 46px;
  font-size: 15px;
  padding: 0 24px;
}

#sliders .slider {
  position: relative;
}

#sliders .slider-1 {
  margin-top: 46px;
  padding-top: 50%;
  background: url("/session_33_w3c_the_music_band/assets/img/Sliders/la.jpg")
    no-repeat top center/cover;
}

#sliders .slider-2 {
  margin-top: 46px;
  padding-top: 50%;
  background: url("/session_33_w3c_the_music_band/assets/img/Sliders/ny.jpg")
    no-repeat top center/cover;
}

#sliders .slider-3 {
  margin-top: 46px;
  padding-top: 50%;
  background: url("/session_33_w3c_the_music_band/assets/img/Sliders/chicago.jpg")
    no-repeat top center/cover;
}

#sliders .text-content {
  position: absolute;
  bottom: 50px;
  color: #fff;
  width: 100%;
  text-align: center;
}

#sliders .text-content .heading {
  font-size: 24px;
  font-weight: 500;
}

#sliders .text-content .text-description {
  font-size: 15px;
  font-weight: bolder;
  margin-top: 25px;
}

#content .content-section {
  padding: 64px 0;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#content .content-heading {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 4px;
}

#content .content-sub-heading {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-style: italic;
  opacity: 0.6;
  text-align: center;
}

#content .content-about {
  text-align: justify;
  line-height: 1.4;
}

#content .member-item {
  float: left;
  width: calc(100% / 3);
  margin-top: 48px;
  text-align: center;
}

#content .member-name {
  font-size: 15px;
  margin-bottom: 15px;
}

#content .member-img {
  width: 154px;
  border-radius: 4px;
}

.tour-section {
  background-color: #000;
}

.tickets-list {
  background-color: #fff;
  margin-top: 40px;
}

.tickets-list li {
  list-style-type: none;
  color: #757575;
  padding: 10px 16px;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 2px 8px;
  margin-left: 16px;
}

.tickets-list .quantity {
  background-color: #000;
  color: #fff;
  float: right;
  border-radius: 50%;
  padding: 3px 8px;
  margin-top: -3px;
  margin-right: 16px;
}

/* Tour Places */
.place-item {/* để sử dụng được margin, element phải set kích thước cứng */
  float: left;
  width: calc(100%/3);
  padding: 0 8px; /* vì box-sizing là padding và padding sẽ làm giảm kích thước element => căn chỉnh tốt hơn margin */

}


.places-list {
  margin: 32px -8px 50px;
}

.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.6;
}

.place-body {
  background-color: #fff;
  font-size: 15px;
  padding: 16px;
}

.place-heading {
  font-size: 15px;
}

.place-time {
  font-size: 15px;
  margin: 18px 0;
  color: #757575;
}

.place-description {
  margin: 18px 0;
  line-height: 1.4;
}

.place-buy-btn {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 10px 16px;
  display: inline-block;
}

.place-buy-btn:hover {
  color: #000;
  background-color: #ccc;
}


#footer {
}
