/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 15px;
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
 */

/* 
1. Vị trí 
2. kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...
 */

/* Common */
.clear-fix {
  clear: both;
}

.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.pull-right {
  float: right !important;
}

.btn {
  padding: 10px 16px;
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  border: none;
}

.btn:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  /* để sử dụng được margin, element phải set kích thước cứng */
  /* vì box-sizing là padding và padding sẽ làm giảm kích thước element => căn chỉnh tốt hơn margin */
}

.col-third {
  width: calc(100% / 3);
}

.col-half {
  width: calc(100% / 2);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
}

/* main */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  z-index: 1;
}

#nav {
  /* vì thẻ ul chiếm trọn header nên ta làm cho ngắn lại */
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav > li:hover .subnav {
  display: block;
}

#nav li:hover > a {
  background-color: #ccc;
  color: #000;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 16px;
  line-height: 38px;
}

#header .mobile-menu-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

#header .mobile-menu-btn,
#header #search-btn {
  float: right;
  padding: 0 24px;
}

#header .menu-icon:hover,
#header .mobile-menu-btn:hover {
  background-color: #ccc;
  color: #000;
}

#header #search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

#header .menu-icon,
#header .search-icon {
  color: #fff;
  line-height: 46px;
  font-size: 15px;
}

#sliders .slider {
  position: relative;
}

#sliders .slider-1 {
  margin-top: 46px;
  padding-top: 50%;
  background: url("/session_33_w3c_the_music_band/assets/img/Sliders/la.jpg")
    no-repeat top center/cover;
}

#sliders .slider-2 {
  margin-top: 46px;
  padding-top: 50%;
  background: url("/session_33_w3c_the_music_band/assets/img/Sliders/ny.jpg")
    no-repeat top center/cover;
}

#sliders .slider-3 {
  margin-top: 46px;
  padding-top: 50%;
  background: url("/session_33_w3c_the_music_band/assets/img/Sliders/chicago.jpg")
    no-repeat top center/cover;
}

#sliders .text-content {
  position: absolute;
  bottom: 50px;
  color: #fff;
  width: 100%;
  text-align: center;
}

#sliders .text-content .heading {
  font-size: 24px;
  font-weight: 500;
}

#sliders .text-content .text-description {
  font-size: 15px;
  font-weight: bolder;
  margin-top: 25px;
}

#content .content-section {
  padding: 64px 0 112px;
  width: 800px;
  max-width: 100%; /* Khi kich thuoc cua content-section lon hon parent max-width se apply */
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

#content .content-heading {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 4px;
}

#content .content-sub-heading {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-style: italic;
  opacity: 0.6;
  text-align: center;
}

#content .content-about {
  text-align: justify;
  line-height: 1.4;
}

#content .member-list {
  margin-top: 48px;
}

#content .member-name {
  font-size: 15px;
  margin-bottom: 15px;
}

#content .member-img {
  width: 154px;
  border-radius: 4px;
}

.tour-section {
  background-color: #000;
}

.tickets-list {
  background-color: #fff;
  margin-top: 40px;
}

.tickets-list li {
  list-style-type: none;
  color: #757575;
  padding: 10px 16px;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 2px 8px;
  margin-left: 16px;
}

.tickets-list .quantity {
  background-color: #000;
  color: #fff;
  float: right;
  border-radius: 50%;
  padding: 3px 8px;
  margin-top: -3px;
  margin-right: 16px;
}

/* Tour Places */
.places-list {
  margin-top: 16px; /* origin 32px */
}

.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.6;
}

.place-body {
  background-color: #fff;
  font-size: 15px;
  padding: 16px;
}

.place-heading {
  font-size: 15px;
}

.place-time {
  font-size: 15px;
  margin: 18px 0;
  color: #757575;
}

.place-description {
  margin: 18px 0;
  line-height: 1.4;
}

/* Modal */
.place-modal {
  display: none;
}

.modal-container {
  position: absolute;
  top: 100px;
  background: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 300px;
  animation-name: drop;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes drop {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 100px;
    opacity: 1;
  }
}

.modal-icon-container {
  float: right;
  width: 46px;
  height: 52px;
  color: #fff;
  line-height: 52px;
  text-align: center;
}

.modal-icon-container:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

.modal-header {
  min-height: 129px;
  background: #009688;
  color: #fff;
  text-align: center;
  font-size: 30px;
  letter-spacing: 4px;
  line-height: 129px;
}

.modal-header-icon {
  margin-right: 10px;
}

.modal-body {
  padding: 0 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  margin: 24px 0 0px;
}

.modal-input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 8px;
  margin-top: 10px;
  font-size: 15px;
}

.pay-btn {
  height: 54px;
  width: 100%;
  margin: 15px 0 9px;
  border: none;
  background-color: #009688;
  color: #fff;
  text-transform: uppercase;
}

.pay-btn:hover {
  background: #ccc;
  color: #000;
  cursor: pointer;
}

.modal-body .warning-msg {
  visibility: hidden;
  width: 100%;
  color: #ff0101;
  text-align: center;
}

.modal-footer {
  float: right;
  padding: 0 15px;
  margin: 5px 0 15px;
}

.modal-footer a {
  color: #2196f3;
}

/* Contact */
.contact-container {
  margin-top: 32px; /* origin 48px */
  font-size: 18px;
}

.contact-infor {
  line-height: 1.5;
}

.contact-icon {
  width: 30px;
}

.contact-form-item {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  word-wrap: break-word;
}

.map-img img {
  width: 100%;
}

/* Contact modal */
.contact-modal {
  display: none;
}

.contact-modal-container {
  position: absolute;
  top: 300px;
  width: 300px;
  min-height: 150px;
  max-width: calc(100% - 64px);
  background: #fff;
  animation-name: show;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
}

@keyframes show {
  from {
    top: 0;
    opacity: 0.3;
  }
  to {
    top: 300px;
    opacity: 1;
  }
}

.contact-modal-icon-container {
  padding: 16px;
  color: #fff;
}

.contact-modal-icon-container:hover {
  background-color: #ccc;
  color: #000;
}

.contact-modal-header {
  min-height: 50px;
  padding: 0 20px;
  background: #009688;
  color: #fff;
  font-size: 15px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

.contact-modal-body {
  min-height: 100px;
  font-size: 15px;
  line-height: 100px;
}

.contact-close-popup {
  width: 100%;
  margin-bottom: 20px;
}

/* Footer */
.footer-info {
  padding: 75px 16px;
  opacity: 0.6;
}

.footer-icon {
  font-size: 24px;
}

.footer-icon a {
  text-decoration: none;
  color: #000;
}

.footer-copy-right a:hover,
.footer-icon a:hover {
  opacity: 0.6;
}

.footer-copy-right {
  margin-top: 20px;
  font-size: 15px;
}

.footer-copy-right a {
  color: #000;
}
