/* PC */
@media (min-width: 64em) {
}

/* Tablet & Phone*/
@media (max-width: 63.9375em) {
  .btn {
    padding: 15px 16px;
    -webkit-appearance: none;
    appearance: none;
  }

  #nav .subnav a {
    padding: 5px 24px;
  }

  .contact-form {
    margin-top: 8px;
  }

  .contact-form-item {
    padding: 14px 10px;
  }

  .contact-infor {
    line-height: 2;
  }

  .footer-icon a {
    padding: 0 8px;
  }

  .footer-copy-right {
    display: inline-block;
    padding: 12px 0;
  }

  .modal-body .modal-input {
    padding: 14px 8px;
  }

  .contact-submit-btn {
    font-size: 15px;
  }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}

/* Phone */
@media (max-width: 46.1875em) {
  .contact-form {
    margin-top: 16px;
  }

  .s-col-full {
    width: 100%;
  }

  .s-text-center {
    text-align: center;
  }

  #header {
    overflow: hidden;
  }

  #header #search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  .activeMenuBtn {
    height: auto !important;
  }

  #nav {
    display: block;
  }

  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav .subnav {
    position: inherit;
    animation-name: dropSubMenu;
    animation-duration: 0.2s;
    animation-timing-function: linear;
  }

  @keyframes dropSubMenu {
    from {
      height: 0;
    }
    to {
      height: 114px;
    }
  }

  #nav .subnav a {
    padding: 5px 40px;
    background: #000;
  }

  #sliders .text-content {
    display: none;
  }

  #content .member-img {
    width: 60%;
  }

  .issue-summary .summary {
    display: none;
  }

  .modal-container {
    position: absolute;
    top: 50px;
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 300px;
    animation-name: drop;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }

  @keyframes drop {
    from {
      top: -200px;
      opacity: 0;
    }
    to {
      top: 50px;
      opacity: 1;
    }
  }

  .modal-header {
    min-height: 100px;
    line-height: 100px;
  }

  .pay-btn {
    height: 48px;
  }
  .contact-container {
    font-size: 15px;
  }

  .contact-form div div {
    margin-bottom: 8px;
  }

  .contact-form div[class="mt-8"] {
    margin-top: 0;
  }
}
